[submodule "tmk_core"]
	path = tmk_core
	url = https://github.com/fredizzimo/tmk_core.git
[submodule "visualizer/tmk_visualizer"]
	path = tmk_visualizer
	url = https://github.com/fredizzimo/tmk_visualizer.git
[submodule "tmk_serial_link"]
	path = tmk_serial_link
	url = https://github.com/fredizzimo/tmk_serial_link
[submodule "chibios"]
	path = chibios
	url = https://github.com/flabbergast/chibios.git
